{
    "account_id": "0000",
    "job_id": "0000",
    "is_stage_required": 1,
    "sns_topic_arn": "{{ SNS_TOPIC_ARN }}",
    "local_path": "../outputs/",
    "aws_access_key_id": "{{ S3_ACCESS_KEY_ID }}",
    "aws_secret_access_key": "{{ S3_SECRET_ACCESS_KEY }}",
    "s3": {
        "bucket_name": "{{ S3_BUCKET_NAME }}",
        "key_prefix": "facebook"
    },
    "redshift": {
        "schemas": {
            "target_schema": "xxxx",
            "stage_schema": "singer_stage",
            "log_schema": "singer_log"
        },
        "connection_details": {
            "host": "{{ REDSHIFT_HOST }}",
            "port": "{{ REDSHIFT_PORT }}",
            "user": "{{ REDSHIFT_USER }}",
            "password": "{{ REDSHIFT_PASSWORD }}",
            "dbname": "{{ REDSHIFT_DBNAME }}"
        }
    },
    "column_exclusion_list": [
        "_last_modified_job_id",
        "_updated_by",
        "_created_by",
        "_updated_date_time",
        "_created_date_time"
    ]
}